.all-head img {
    width: 100%;
    height: auto;
}
.jewel-img {
    width: 100%;
    height: 20px;
}
#first-link {
    background: #D4D4D4;
    text-align: center;
    padding: 15px;
    margin-top: 70px;
}

.details h5 {
    font-size: 15px;
}
/* ALL SECOND IMAGES GALARY */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    /* Hide the images by default */
    .mySlides2 {
        display: none;
    }

    /* Next & previous buttons */
    .prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }

    /* Position the "next button" to the right */
    .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    }

    /* The dots/bullets/indicators */
    .dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot2:hover {
    background-color: #717171;
    }

    /* Fading animation */
    .fadeele {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    /* ALL THIRD IMAGES GALARY */

/* Slideshow container */

    /* Hide the images by default */
    .mySlides3 {
        display: none;
    }

    /* Next & previous buttons */
    .prev3, .next3 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }

    /* Position the "next button" to the right */
    .next3 {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev3:hover, .next3:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    }

    /* The dots/bullets/indicators */
    .dot3 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot3:hover {
    background-color: #717171;
    }

    /* Fading animation */
    .fadeele {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }

    /* LAST IMAGE GALARY */
    .last {
        box-sizing: border-box;
    }
    .last img {
        width: 10%;
        height: 10%;
    }
    .cart-link {
        margin-top: 20px;
    }
    .cart-link a {
        background-color: darkblue;
        padding: 10px 15px;
        border-radius: 10px;
        color: #fff;
        text-decoration: none;
    }